* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background: #f2f2f2;
}

.galeria {
    max-width: 1100px;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: 250px;

}



.galeria a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria a:nth-child(1) {
    grid-column: 1 / span 2;
}


.galeria a:nth-child(2) {
    grid-column: 3;
}


.galeria a:nth-child(3) {
    grid-column: 1;
}


.galeria a:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / span 2;
}


.galeria a:nth-child(5) {
    grid-column: 3;
}


.galeria a:nth-child(6) {
    grid-column: 1;
}

.galeria a:nth-child(7) {
    grid-column: 3;
}


.galeria a:nth-child(1) {
    grid-column: span 2;
}


.galeria a:nth-child(4) {
    grid-row: span 2;
}

/*   960px  */
@media (max-width: 960px) {
    .galeria {
        width: 95vw;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: 200px;
    }

}

/* 480px  */
@media (max-width: 480px) {
    .galeria {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
    }


}

/*  1920px   */
@media (min-width: 1920px) and (orientation: landscape) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
    }

    .ancha {
        grid-column: span 1;
    }
}

/*  MODO OSCURO  */
@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
    }

    .galeria img {
        filter: grayscale(100%) contrast(1.1);
        transition: filter 0.3s;
    }
}
